aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram
requests
tgcrypto
yt-dlp
olefile
motor
pymongo
dnspython
psutil
loggers
filetype
tldextract
aiofiles
pyromod
lk21
gunicorn==20.1.0
Flask==2.2.2
Werkzeug==2.2.2
